.checkout-container {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
  font-family: "Segoe UI", sans-serif;
}

.checkout-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}

.checkout-wrapper {
  display: flex;
  gap: 25px;
  align-items: flex-start;
}

/* LEFT — ORDER SUMMARY */
.summary-box {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.summary-item {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
}

.summary-item img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: contain;
  background: #fafafa;
  padding: 5px;
}

.sum-info {
  flex: 1;
}

.sum-title {
  font-size: 16px;
  font-weight: 600;
}

.sum-variant {
  font-size: 14px;
  color: #444;
}

.sum-price {
  font-size: 18px;
  font-weight: 600;
  color: green;
}

.qty-box {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.qty-btn {
  padding: 5px 12px;
  border: 1px solid #555;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.qty-num {
  margin: 0 10px;
  font-weight: 500;
}

.remove-col {
  display: flex;
  align-items: center;
}

.sum-remove-btn {
  background: none;
  color: #e60000;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.sum-remove-btn:hover {
  text-decoration: underline;
}

.total-bar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

.add-more-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #000000;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.add-more-btn:hover {
  background: #ffcc00;
  color: #000000;
}

/* RIGHT — BILLING FORM */
.form-box {
  flex: 1;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.form-box h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.form-box input,
.form-box textarea,
.form-box select {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background: #fafafa;
  transition: 0.2s;
}

.form-box input:focus,
.form-box textarea:focus,
.form-box select:focus {
  border-color: #ff9900;
  background: #fff;
  outline: none;
}

/* DROPDOWN STYLE */
.form-box select {
  background: #fefefe;
  cursor: pointer;
}

/* BUTTON */
.place-btn {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  background: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.place-btn:hover {
  background: #25c323;
}

/* MOBILE */
@media (max-width: 768px) {
  .checkout-wrapper {
    flex-direction: column;
  }
}
