.orders-container {
  max-width: 850px;
  margin: auto;
  padding: 20px;
}

.orders-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.empty-text {
  font-size: 18px;
  color: #555;
  text-align: center;
}

.order-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.order-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.order-total h3 {
  color: green;
}

.order-address {
  background: #fafafa;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.order-item {
  display: flex;
  gap: 15px;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.order-item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: #fff;
  padding: 5px;
  border-radius: 6px;
}

.item-name {
  font-size: 16px;
  font-weight: 600;
}

.order-subtotal {
  color: green;
  font-weight: bold;
}



.order-status-badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  color: white;
  margin-top: 8px;
}

/* COLORS */
.status-pending {
  background: #f39c12;
}

.status-shipped {
  background: #3498db;
}

.status-out-for-delivery {
  background: #9b59b6;
}

.status-delivered {
  background: #2ecc71;
}

.status-cancelled {
  background: #e74c3c;
}


.payment-badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 5px;
}

.payment-paid {
  background: #2ecc71;
  color: white;
}

.payment-pending {
  background: #e67e22;
  color: white;
}

.order-card p b {
  color: #444;
}

.order-address h4 {
  margin-bottom: 6px;
  color: #222;
}

.order-item-img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

/* Cancel Order Button */
.cancel-btn {
  margin-left: 12px;
  padding: 6px 14px;
  background: linear-gradient(135deg, #ff4d4d, #ff1a1a);
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 77, 77, 0.35);
}

/* Hover effect */
.cancel-btn:hover {
  background: linear-gradient(135deg, #e60000, #cc0000);
  transform: translateY(-1px);
  box-shadow: 0 6px 14px rgba(230, 0, 0, 0.45);
}

/* Click effect */
.cancel-btn:active {
  transform: scale(0.96);
}

/* Mobile friendly */
@media (max-width: 600px) {
  .cancel-btn {
    margin-top: 6px;
    display: inline-block;
    font-size: 12px;
    padding: 5px 12px;
  }
}
