.orders-container {
  max-width: 850px;
  margin: auto;
  padding: 20px;
}

.orders-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.empty-text {
  font-size: 18px;
  color: #555;
  text-align: center;
}

.order-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.order-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.order-total h3 {
  color: green;
}

.order-address {
  background: #fafafa;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.order-item {
  display: flex;
  gap: 15px;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.order-item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: #fff;
  padding: 5px;
  border-radius: 6px;
}

.item-name {
  font-size: 16px;
  font-weight: 600;
}

.order-subtotal {
  color: green;
  font-weight: bold;
}

.order-detail-btn {
  margin-top: 10px;
  padding: 10px 14px;
  background: #111;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.order-detail-btn:hover {
  background: #ffcc00;
  color: black;
}
