.od-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.od-back-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  color: #0073e6;
}

.od-back-btn:hover {
  text-decoration: underline;
}

.od-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.od-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.od-item {
   display: flex;
  gap: 15px;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}


.order-item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: #fff;
  padding: 5px;
  border-radius: 6px;
}

.od-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background: #fff;
  border-radius: 8px;
  padding: 5px;
}

.od-item-title {
  font-weight: bold;
  font-size: 16px;
}

.od-subtotal {
  color: green;
  font-weight: bold;
}

.od-status-badge {
  margin-left: 8px;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}

.pending {
  background: #ffc107;
  color: #000;
}

.shipped {
  background: #0d6efd;
  color: #fff;
}

.delivered {
  background: #28a745;
  color: #fff;
}


