.nav-container {
  width: 100%;
  height: 60px;
  background: #111;
  display:inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: -20 10px;
  position:relative;
}



.nav-logo a {
  font-size: 28px;
  font-weight: 700;
  color: #ffcc00;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  transition: 0.2s;
}

.nav-links li a:hover {
  color: #ffcc00;
}

.login-btn {
  font-weight: 600;
  color: #ffcc00 !important;
}

.profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

.profile-wrapper {
  position: relative;
}

.profile-menu {
  position: absolute;
  right: 0;
  top: 48px;
  background: #fff;
  color: black;
  width: 150px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-menu a {
  text-decoration: none;
  color: #111;
}

.logout-btn {
  background: #f44336;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 65px;
    right: 0;
    background: #222;
    width: 220px;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    display: none;
    border-left: 3px solid #ffcc00;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
